{% extends 'base.html.twig' %}

{% block title %}Hello MessageController!{% endblock %}

{% block body %}
    <h2>Posts du topic {{sujet}}</h2>
    {% for message in messages %}
        {{message}}</br>
    {% endfor %}
    {{ knp_pagination_render(messages) }}
{% endblock %}
