{% extends 'base.html.twig' %}

{% block title %}Hello SujetController!{% endblock %}

{% block body %}
    <h2>Sujet de la catégorie {{categorie}}</h2>
    {% for sujet in sujets %}
        <a href="{{path('app_message', {'id': sujet.id})}}">{{sujet}}</a></br>    
    {% endfor %}
    {{ knp_pagination_render(sujets) }}
{% endblock %}
